<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml">
<head >
    <div th:replace="header::head"></div>
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <script src="http://webapi.amap.com/maps?v=1.3&key=40050f27285d9f86e3a1d5628fc934d1&plugin=AMap.MouseTool,AMap.PolyEditor,AMap.CircleEditor,AMap.PlaceSearch,AMap.AdvancedInfoWindow"></script>
</head>
<body>
<div class="wrapper index-page">
    <div class="header" th:replace="header::header"></div>
    <div class="center-block map-box">
        <div id="map"></div>
    </div>
</div>

<script>
    var map = new AMap.Map('map', {
        resizeEnable: true,
        zoom:11,
        center: [116.397428, 39.90923]
    });
</script>
</body>
</html>